.nav {
    display: flex;
    justify-content: space-between;
}

.nav ul {
    padding: 0px 20px;
    margin: 0px;
    list-style-type: none;
}

.nav ul li {
    display: inline;
    padding-left: 1px
}

.userPanel {
    display: flex; 
    align-items: center;
}

.textWhite {
    color: white;
}
